cover_db
META.yml
Makefile
blib
inc
pm_to_blib
MANIFEST
Makefile.old
MYMETA.*
Makefile
inc/
ppport.h
*.sw[po]
*.bak
*.old
Build
_build/
xshelper.h
tags
pm_to_blib
blib/
META.yml
MYMETA.*
META.yml
README
^inc/
WWW-YouTube-Download-*/
/www-youtube-download-*
/.build
/_build_params
/Build
!Build/
!META.json
