---
addons:
  apt: {}
before_install:
  - 'eval $(curl https://travis-perl.github.io/init) --auto'
cache:
  directories:
    - '~/perl5'
install:
  - 'cpanm -n -q --skip-satisfied --installdeps .'
language: perl
matrix:
  include:
    -
      env: COVERAGE=1
      perl: '5.26'
notifications:
  email:
    on_failure: always
    on_success: always
    recipients:
      - olaf@wundersolutions.com
perl:
  - '5.10'
  - '5.12'
  - '5.14'
  - '5.16'
  - '5.18'
  - '5.20'
  - '5.22'
  - '5.24'
  - '5.26'
script: 'prove -lr -j$(test-jobs) t'
sudo: 'false'
