---
name: dzil build and test
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "15 4 * * 0" # Every Sunday morning
jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
    container:
      image: perldocker/perl-tester:5.30
    steps:
      - uses: actions/checkout@v2
      - name: Upgrade helpers
        run: curl https://raw.githubusercontent.com/oalders/ci-perl-helpers/master/bin/upgrade-perl-helpers | bash
      - name: Build and test
        run: auto-build-and-test-dist
        env:
          AUTHOR_TESTING: 1
          RELEASE_TESTING: 1
      - uses: actions/upload-artifact@master
        with:
          name: build_dir
          path: build_dir
  test_linux:
    runs-on: ubuntu-latest
    name: Test distribution
    needs: build
    strategy:
      matrix:
        perl-version:
          - "5.10"
          - "5.12"
          - "5.14"
          - "5.16"
          - "5.18"
          - "5.20"
          - "5.22"
          - "5.24"
          - "5.26"
          - "5.28"
          - "5.30"
    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}
    steps:
      - uses: actions/download-artifact@master
        with:
          name: build_dir
          path: .
      - name: Upgrade helpers
        run: curl https://raw.githubusercontent.com/oalders/ci-perl-helpers/master/bin/upgrade-perl-helpers | bash
      - name: Build and test
        run: cpan-install-dist-deps && test-dist
  test_macos:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["macos-latest"]
        perl-version:
          - "5.10"
          - "5.12"
          - "5.14"
          - "5.16"
          - "5.18"
          - "5.20"
          - "5.22"
          - "5.24"
          - "5.26"
          - "5.28"
          - "5.30"
    name: Perl ${{ matrix.perl-version }} on ${{ matrix.os }}
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Set Up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl-version }}
      - uses: actions/download-artifact@master
        with:
          name: build_dir
          path: .
      - run: perl -V
      - name: install deps using cpm
        uses: perl-actions/install-with-cpm@v1
        with:
          cpanfile: "cpanfile"
          args: "--with-suggests --with-test"
      - run: prove -l t
  test_windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["windows-latest"]
        perl-version:
          #- "5.10"
          #- "5.12"
          - "5.14"
          - "5.16"
          - "5.18"
          - "5.20"
          - "5.22"
          - "5.24"
          - "5.26"
          - "5.28"
          - "5.30"
    name: Perl ${{ matrix.perl-version }} on ${{ matrix.os }}
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Set Up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl-version }}
      - uses: actions/download-artifact@master
        with:
          name: build_dir
          path: .
      - name: install deps using cpm
        uses: perl-actions/install-with-cpm@v1
        with:
          cpanfile: "cpanfile"
          args: "--with-suggests --with-recommends --with-test"
      - run: perl -V
      - run: prove -l t
